<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984098471954-ajrfcmm9s942q3m5g15knhlis6bh1pic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984098471954-ajrfcmm9s942q3m5g15knhlis6bh1pic</string>
	<key>API_KEY</key>
	<string>AIzaSyDuWjOBWExooo28way-KTG6bo7cTRr54kg</string>
	<key>GCM_SENDER_ID</key>
	<string>984098471954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.isker.karzhyFrontend</string>
	<key>PROJECT_ID</key>
	<string>karzhy-1bc6a</string>
	<key>STORAGE_BUCKET</key>
	<string>karzhy-1bc6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984098471954:ios:603d844b7895eb1f5418cb</string>
</dict>
</plist>